<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <th:block th:fragment="styles">
        <link th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" th:rel="stylesheet" />
        <link th:rel="stylesheet" th:href="@{/style.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    </th:block>

</head>

<body>

    <th:block th:fragment="navbar">
        <div class="container">
            <div class="row nav-border my-2">
                <div class="col-2 px-3 py-4 col-2-border d-flex align-items-center">
                    <div>
                        Da Malu's
                    </div>
                </div>
                <div class="col-10 px-3 py-4 d-flex align-items-center">
                    <div class="me-5">
                        <a th:href="@{/}" class="nav-link">Home</a>
                    </div>
                    <div class="me-5">
                        <a th:href="@{/pizzas}" class="nav-link">Listino Pizze</a>
                    </div>
                    <div class="me-5">
                        <a th:href="@{/pizzas/create}" class="nav-link">Aggiungi Pizza</a>
                    </div>
                </div>
            </div>
        </div>
    </th:block>


    <th:block th:fragment="scripts">
        <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
    </th:block>
</body>

</html>